html,
body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

/* index. NAVBAR */
.page-nav {
    padding-top: 3rem;
    margin-top: 4rem;
}
.gradient{
    background: rgb(79,209,217);
    background: linear-gradient(90deg, rgba(79,209,217,1) 0%, rgba(45,201,210,1) 20%, rgba(13,82,85,1) 75%, rgba(11,52,52,1) 100%);
}

/* index. HEADER */
.page-header {
    padding-top: 2rem;
    color: #fff;
}
/* index. FOOTER */
.page-footer {
    color: #fff;
    padding-top: 7rem;
    padding-bottom: 4rem;
    color: #fff;
}
/* Caraousal */
.page-carousal-head {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.page-carousal {
    width: 75%;
    height: 60%;
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
}
.page-icon {
    max-width: 150px;
    min-width: 150px;
    width: 100px;
    height: 100px;
}

/* ALL. CUSTOM PADDING */
.page-padding_top_5 {
    padding-top: 7rem;
}
/* CUSTOM BUTTON COLOR */
.btn-custom-aqua {
    background-color: #2da2a9;
    color: #fff;
}
/* PROFILE PIC SIZE */
.profile-icon {
    width: 75px; 
    height: 75px;
}
.profile-thumbnail {
    width: 150; 
    height: 150px;
}

.img-thumb-max{
    max-width: 150px;
}